<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>

<body>
	<h1>Hally Miao</h1>
	<p>This is for the class challenge</p>

	<form action="/">
	    <input type="submit" value="Go back to Home Page" />
	</form>


	<form action="/weather">
	    <input type="submit" value="Go to weather Page" />
	</form>

</body>

	{{> footer}}

</html>